flows (1).json
[{"id":"17bed557.f3225b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cd62866a.f428a8","type":"debug","z":"17bed557.f3225b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"22a206a0.67783a","type":"watson-conversation-v1","z":"17bed557.f3225b","name":"","workspaceid":"22e0e073-a5f0-4b7d-a6ec-0db64d5a433f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/146b85d7-d6b7-4c4c-8c26-1fd7bb909d7f","timeout":"","optout-learning":false,"x":420,"y":120,"wires":[["cd62866a.f428a8","9e97a097.12e5c"]]},{"id":"9e97a097.12e5c","type":"function","z":"17bed557.f3225b","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":240,"wires":[["893b1b0f.2f3938"]]},{"id":"9b2b91f.2c87a7","type":"function","z":"17bed557.f3225b","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["22a206a0.67783a","4bd398b6.aa8ef8"]]},{"id":"893b1b0f.2f3938","type":"ui_text","z":"17bed557.f3225b","group":"7871959b.e35edc","order":4,"width":"11","height":"4","name":"","label":"CHATBOT ","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":400,"wires":[]},{"id":"4bd398b6.aa8ef8","type":"ui_text","z":"17bed557.f3225b","group":"7871959b.e35edc","order":3,"width":"11","height":"4","name":"","label":"USER","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":400,"wires":[]},{"id":"2cb32ddd.8aead2","type":"ui_form","z":"17bed557.f3225b","name":"","label":"","group":"7871959b.e35edc","order":2,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":340,"wires":[["9b2b91f.2c87a7"]]},{"id":"7871959b.e35edc","type":"ui_group","z":"","name":"Chatbot","tab":"fbc08681.dcf7b8","order":1,"disp":true,"width":"11","collapse":false},{"id":"fbc08681.dcf7b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]